---
BasedOnStyle:  LLVM

ColumnLimit:     200
Standard:        c++17
UseTab:          Never
TabWidth:        8
IndentWidth:     4

# Ensure project headers -> test headers -> system headers
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(generator|ir|lifter|common)/"'
    Priority: 3
  - Regex: '^(<|"(gtest|gmock)/)'
    Priority: 2
  - Regex: '.*'
    Priority: 1
